.profile__button-info {
  background-color: black;
  padding: 0;
  border-width: 0;
  align-self: self-end;
  align-self: center;
  cursor: pointer;
}

.profile__button-info:hover {
  opacity: 0.6;
}
