/*текст ошибки*/
.popup__input-error-message {
  color: red;
  font-weight: 400;
  font-size: 12px;
  line-height: 121%;
  position: absolute;
  top: calc(31px + 5px);
  left: 0;
  opacity: 0;
  min-width: 358px;
}

@media screen and (max-width: 600px) {
  .popup__input-error-message {
    min-width: 238px;
  }
}
